<h4>{{'LATEST_ACTIVITY_LABEL'|translate}}</h4>
<nav id="sidebar">
    <ul class="list-unstyled components" style="border-bottom:none">
        <li>
            <a href="#" routerLink="/dashboard">
                <i class="fas fa-bullseye"></i>
                <span>Today - 9:30AM</span>
                <ul class="list-unstyled components" style="padding-left: 20px;">
                    <li>QUOTES</li>
                    <li>New Quote # 5543</li>
                    <li>Speedy Glass Oakville</li>
                    <li>2334 Lakeshore, Rd East</li>
                </ul>
            </a>
        </li>
        <li class="active">
            <a href="#" routerLink="/dashboard">
                <i class="fas fa-bullseye"></i>
                <span>Yesterday - 3:30AM</span>
                <ul class="list-unstyled components" style="padding-left: 20px;border-bottom:none">
                    <li>CALLS</li>
                    <li>Call from Joanne - Ward and Burkle</li>
                </ul>
            </a>
        </li>
        <li>
            <a href="#" routerLink="/dashboard">
                <i class="fas fa-bullseye"></i>
                <span>October 28th- 4:00PM</span>
                <ul class="list-unstyled components" style="padding-left: 20px;border-bottom:none">
                    <li>REPORTS</li>
                    <li>Updated report for 2671 Islington Ave, Toronto</li>
                </ul>
            </a>
        </li>
    </ul>
</nav>