<header-fire-alert></header-fire-alert>
<div class="wrapper">
  <!-- Sidebar  -->
  <dashboard-menu-fire-alert 
        [menuItems1]="menuItems1"
        [menuItems2]="menuItems2"
        [menuItems3]="menuItems3"
        (menu)="onMenu($event)">
  </dashboard-menu-fire-alert>

  <!-- Page Content  -->
  <div id="content" [ngSwitch]="currentComponentName" style="height: 100%; width: 100%">

    <!-- Profile Right Section -->
    <div *ngSwitchCase="'profile'">
        <app-profile-cmp *ngIf="showProfile" 
                        [codes]="codes"
                        [profile]="profile" 
                        [team]="team"                       
                        [showAboutMyBusiness]="showAboutMyBusiness"
                        [showAboutMe]="showAboutMe">
        </app-profile-cmp>
    </div>

    <!-- Dashboard Right Section -->
    <div *ngSwitchCase="'dashboard'">
        <app-dashboard-cmp></app-dashboard-cmp>
    </div>
    
    <!-- Franchisees Right Section-->
    <div *ngSwitchCase="'franchisees'">
        <app-franchisees-cmp></app-franchisees-cmp>
    </div>

  </div>
</div>
<footer-fire-alert></footer-fire-alert>
