<div class="row">
    <div class="col-3 line-space">                 
        <div class="bold">{{'FIRST_NAME_LABEL'|translate}}:</div>
        <div class="bold">{{'LAST_NAME_LABEL'|translate}}:</div>
        <div class="bold">{{'GENDER_LABEL'|translate}}:</div>
        <div class="bold">{{'AGE_LABEL'|translate}}:</div>
        <div class="bold">{{'BIRTHDAY_LABEL'|translate}}:</div>
        <div class="bold">{{'HOME_PHONE_LABEL'|translate}}:</div>
        <div class="bold">{{'CELL_PHONE_LABEL'|translate}}:</div>
        <div class="bold">{{'ADDRESS_LABEL'|translate}}:</div>
        <div class="bold">{{'EMAIL_LABEL'|translate}}:</div>
        <div class="bold">{{'WEBSITE_LABEL'|translate}}:</div>
    </div>
    <div class="col-9 line-space">
        <div>{{profile.personal.firstName}}</div>
        <div>{{profile.personal.lastName}}</div>
        <div>{{profile.personal.gender}}</div>
        <div>{{profile.personal.age}}</div>
        <div>{{profile.personal.birthday}}</div>
        <div>{{profile.personal.homePhone}}</div>
        <div>{{profile.personal.cellPhone}}</div>
        <div>{{profile.personal.address}}</div>
        <div>{{profile.personal.email}}</div>
        <div>{{profile.personal.website}}</div>
    </div>
</div>

