<div class="row">
    <div class="col-6">
        <h3 class="red team">{{'TEAM_LABEL'|translate}} <a class="create-team" href="#">Create New</a></h3>
        <div *ngFor="let employee of employees; let i = index;" class="row line-space">            
            <div class="col-4">
                <span>{{employee.name}}</span>                
            </div>
            <div class="col-4">
                <span>{{employee.type}}</span>
            </div>
            <div class="col-4">
                <a class="red" href="#" (click)="onEditEmployee($event, employee)">{{'EDIT_LABEL'|translate}}</a>
            </div>
        </div>
    </div>
    <div class="col-6">
    </div>
</div>

