<form class="form-group row" style="border:1px solid #d2cbcb; border-radius:10px; padding-top: 25px;">
    <div class="col-sm-2">
        <div style="padding-top:10px">
            <img width="100" [src]="'assets/images/street.jpeg'">
        </div>
    </div>

    <div class="col-sm-2">        
        <ul class="list-unstyled components" style="border-bottom:none">
            <li>
                <span>Duncan Long</span>
            </li>
            <li>
                <span style="font-size:12px;">2 hours Ago</span>
            </li>
            </ul>
    </div>

    <div class="col-sm-6">
        <span style="padding-top:20px;">Health and Safety Seminar Comming Soon!</span>
    </div>

    <div class="col-sm-2" style="padding: 10px;">
        <button type="submit" class="btn btn-outline-secondary">Open</button>
    </div>    

  </form>