<h4>{{'CALENDAR_LABEL'|translate}}</h4>
<div class="btn-group" role="group" style="width:100%">
    <span style="padding: 10px"><button type="button" class="btn btn-outline-primary">{{'REMINDERS_LABEL'|translate}}</button></span>
    <span style="padding: 10px"><button type="button" class="btn btn-outline-primary">{{'CREATE_NEW_LABEL'|translate}}</button></span>
    <span style="padding: 10px"><button type="button" class="btn btn-outline-primary">{{'OVERDUE_LABEL'|translate}}</button></span>
    <span style="padding: 10px"><button type="button" class="btn btn-outline-primary">{{'ANALYTICS_LABEL'|translate}}</button></span>
</div>
