<h4>{{'CALENDAR_LABEL'|translate}}</h4>

<div>
    <table style="width:100%; border: 1px solid #d2cbcb;">
        <thead style="background-color: #ed1c24; color: #ffffff">
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>                
        </thead>
        <tbody style="width:100%; border: 1px solid #d2cbcb;">
            <tr class="odd">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                </tr>
            <tr class="odd">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="btn-group" role="group" style="width:100%">
    <span style="padding: 10px"><button type="button" class="btn btn-outline-primary">{{'REMINDERS_LABEL'|translate}}</button></span>
    <span style="padding: 10px"><button type="button" class="btn btn-outline-primary">{{'CREATE_NEW_LABEL'|translate}}</button></span>
    <span style="padding: 10px"><button type="button" class="btn btn-outline-primary">{{'OVERDUE_LABEL'|translate}}</button></span>
    <span style="padding: 10px"><button type="button" class="btn btn-outline-primary">{{'ANALYTICS_LABEL'|translate}}</button></span>
</div>
