<div class="row">
    <div class="col-3 line-space">                 
        <div class="bold">{{'LEGAL_NAME_LABEL'|translate}}:</div>
        <div class="bold">{{'BISINESS_REGISTRATION_NUM_LABEL'|translate}}:</div>
        <div class="bold">{{'OWNERSHIP_LABEL'|translate}}:</div>
        <div class="bold">{{'TAXES_LABEL'|translate}}:</div>
        <div class="bold">{{'AGR_START_DATE_LABEL'|translate}}:</div>
        <div class="bold">{{'AGR_RENEWAL_DATE_LABEL'|translate}}:</div>
        <div class="bold">{{'ROYALTY_FEE_LABEL'|translate}}:</div>
        <div class="bold">{{'MARKETING_FEE_LABEL'|translate}}:</div>
    </div>
    <div class="col-9 line-space">
        <div>{{profile.business.legalName}}</div>
        <div>{{profile.business.businessRegNum}}</div>
        <div>{{profile.business.ownership}}</div>
        <div>{{profile.business.taxes}}</div>
        <div>{{profile.business.agrStartDate}}</div>
        <div>{{profile.business.agrRenewalDate}}</div>
        <div>{{profile.business.royaltyFee}}%</div>
        <div>{{profile.business.marketingFee}}%</div>
    </div>
</div>

<div style="width: 100%; margin-top:20px;">
    <app-profile-team-cmp [employees]="employees"></app-profile-team-cmp>
</div>    

<div style="width: 100%; margin-top:20px;">
    <app-territory-cmp [codes]="codes"></app-territory-cmp>
</div>
