<div class="row">
    <div class="col-3 line-space">                 
        <div class="bold">{{'LEGAL_NAME_LABEL'|translate}}:</div>
        <div class="bold">{{'BISINESS_REGISTRATION_NUM_LABEL'|translate}}:</div>
        <div class="bold">{{'OWNERSHIP_LABEL'|translate}}:</div>
        <div class="bold">{{'TAXES_LABEL'|translate}}:</div>
        <div class="bold">{{'AGR_START_DATE_LABEL'|translate}}:</div>
        <div class="bold">{{'AGR_RENEWAL_DATE_LABEL'|translate}}:</div>
        <div class="bold">{{'ROYALTY_FEE_LABEL'|translate}}:</div>
        <div class="bold">{{'MARKETING_FEE_LABEL'|translate}}:</div>
    </div>
    <div class="col-9 line-space">
        <div>{{profile.business.legalname}}</div>
        <div>{{profile.business.businessregnum}}</div>
        <div>{{profile.business.ownership}}</div>
        <div>{{profile.business.taxes}}</div>
        <div>{{profile.business.agrstartdate}}</div>
        <div>{{profile.business.agrrenewaldate}}</div>
        <div>{{profile.business.royaltyfee}}%</div>
        <div>{{profile.business.marketingfee}}%</div>
    </div>
</div>

<div *ngIf="showAboutMe" style="width: 100%; margin-top:20px;">
    <app-profile-team-cmp [team]="team"></app-profile-team-cmp>
</div>    

<div *ngIf="showAboutMe" style="width: 100%; margin-top:20px;">
    <app-territory-cmp [codes]="codes"></app-territory-cmp>
</div>
