<div class="row">
    <div class="col-8">
        <div class="row">
                <div class="col-2">
                    <img src='assets/images/face.jpeg' width="100px">
                </div>
                <div class="col-10" style="padding-top:25px;">
                    <div class="row">
                        <div class="col-4">
                            <h3>Sylvan Houle</h3>
                        </div>
                        <div class="col-8">
                            <h3 style="color:red">Owner</h3>
                        </div>                        
                    </div>
                    <div class="row">
                        <span style="margin-left: 20px">
                            Fire Alert Oakville
                        </span>                        
                    </div>
                </div>        
        </div>
    </div>
    <div class="col-4">   
        <ul>
            <li>
                <a [ngClass]="{selected: shouldShowProfile}" class="nav-link" href="#" (click)="showPersonalProfile($event, true)">
                        <i class="fas fa-th-list"></i>
                        {{'ABOUT_ME_LABEL'|translate}}
                </a>            
            </li>
            <li>
                <a [ngClass]="{selected: !shouldShowProfile}" class="nav-link" href="#" (click)="showPersonalProfile($event, false)">
                        <i class="fas fa-copy"></i>
                        {{'ABOUT_MY_BUSINESS_LABEL'|translate}}
                </a>            
            </li>
        </ul>     
    </div>
    <div style="width: 100%">
        <app-profile-personal-cmp *ngIf="shouldShowProfile"></app-profile-personal-cmp>
        <app-profile-business-cmp *ngIf="!shouldShowProfile"></app-profile-business-cmp>
    </div>
</div>

