.middle {
    text-align: center;
    color: #ed1c24;
}

.details {
    font-weight: 700;
    margin-top: 30px;
}

.red {
    color: #ed1c24;
}

.top-50{
    margin-top: 50px;
}

.left-10{
    margin-left: 10px;
}