<nav id="sidebar" [ngClass]="shouldShowDashboard ? 'active' : ''">

  <div class="sidebar-header">
      <h3>{{'DASHBOARD_LABEL'|translate}}</h3>
      <strong>FA</strong>
  </div>

    <ul class="list-unstyled components" style="padding-left:20px;">
        <li *ngFor="let menuItem of menuItems1" [ngClass]="isActive(menuItem) ? 'active' : ''">
            <a href="#" (click)="setActive($event,menuItem)">                    
                {{(menuItem + '_LABEL').trim()|uppercase|translate}}
            </a>
        </li>
    </ul>

    <ul class="list-unstyled components" style="padding-left:20px;">
            <li *ngFor="let menuItem of menuItems2" [ngClass]="isActive(menuItem) ? 'active' : ''">
                <a href="#" (click)="setActive($event, menuItem)">                    
                    {{(menuItem + '_LABEL').trim()|uppercase|translate}}
                </a>
            </li>
    </ul>

    <ul class="list-unstyled components" style="padding-left:20px; border-bottom:none">
            <li *ngFor="let menuItem of menuItems3" [ngClass]="isActive(menuItem) ? 'active' : ''">
                <a href="#" (click)="setActive($event, menuItem)">                    
                    {{(menuItem + '_LABEL').trim()|uppercase|translate}}
                </a>
            </li>
    </ul>

</nav>
