<nav id="sidebar" [ngClass]="shouldShowDashboard ? 'active' : ''">

  <div class="sidebar-header">
      <h3>{{'DASHBOARD_LABEL'|translate}}</h3>
      <strong>FA</strong>
  </div>

  <ul class="list-unstyled components">
      <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-home"></i>
              Calls
          </a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                  <a href="#">Calls 1</a>
              </li>
              <li>
                  <a href="#">Calls 2</a>
              </li>
          </ul>
      </li>
      <li>
          <a href="#" routerLink="/dashboard">
              <i class="fas fa-briefcase"></i>
              Leads
          </a>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-copy"></i>
              Work Orders
          </a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                  <a href="#">Work Order 1</a>
              </li>
          </ul>
      </li>
      <li>
          <a href="#">
              <i class="fas fa-image"></i>
              Jobs
          </a>
      </li>
      <li>
          <a href="#">
              <i class="fas fa-question"></i>
              Customers
          </a>
      </li>
      <li>
          <a href="#">
              <i class="fas fa-paper-plane"></i>
              Schedule
          </a>
      </li>
      <li>
        <a href="#">
            <i class="fas fa-paper-plane"></i>
            Invoices
        </a>
      </li>
      <li>
        <a href="#">
            <i class="fas fa-paper-plane"></i>
            Reports
        </a>
      </li>
    </ul>

    <ul class="list-unstyled components">
       <li>
        <a href="#">
            <i class="fas fa-paper-plane"></i>
            News
        </a>
       </li>            
       <li>
         <a href="#">
            <i class="fas fa-paper-plane"></i>
            Tools
         </a>
        </li>            
        <li>
            <a href="#">
                <i class="fas fa-paper-plane"></i>
                Directory
            </a>
        </li>            
     </ul>
     <ul class="list-unstyled components">
            <li>
             <a href="#">
                 <i class="fas fa-paper-plane"></i>
                 Franchisees
             </a>
            </li>            
            <li>
              <a href="#">
                 <i class="fas fa-paper-plane"></i>
                 Users
              </a>
             </li>            
             <li>
                 <a href="#">
                     <i class="fas fa-paper-plane"></i>
                     Corporate
                 </a>
             </li>            
    </ul>     
</nav>
